<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左侧菜单页</title>
<link href="/static/back/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/static/back/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson .header").click(function(){
		var $parent = $(this).parent();
		$(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();
		
		$parent.addClass("active");
		if(!!$(this).next('.sub-menus').size()){
			if($parent.hasClass("open")){
				$parent.removeClass("open").find('.sub-menus').hide();
			}else{
				$parent.addClass("open").find('.sub-menus').show();	
			}					
		}
	});
	
	// 三级菜单点击
	$('.sub-menus li').click(function(e) {
        $(".sub-menus li.active").removeClass("active");
		$(this).addClass("active");
    });
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('.menuson').slideUp();
		if($ul.is(':visible')){
			$(this).next('.menuson').slideUp();
		}else{
			$(this).next('.menuson').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>后台管理</div>
    
    <dl class="leftmenu">

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>系统管理
            </div>
            <ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url "back:index/main/" %}" target="rightFrame">后台首页</a>
                        <i></i>
                    </div>
                  <!--   <ul class="sub-menus">
                      <li><a href="javascript:;">文件管理</a></li>
                      <li><a href="javascript:;">模型信息配置</a></li>
                      <li><a href="javascript:;">基本内容</a></li>
                      <li><a href="javascript:;">自定义</a></li>
                  </ul> -->
                </li>
                 <li>
                    <div class="header">
                    <cite></cite>
                    <a href="{% url 'back:article/conservator_list/' %}" target="rightFrame">管理员列表</a>
                    <i></i>
                    </div>                
                </li>               
                <li>
                    <div class="header">
                    <cite></cite>
                    <a href="{% url 'back:article/conservator_add/' %}" target="rightFrame">添加管理员</a>
                    <i></i>
                    </div>                
                </li>

            </ul>    
        </dd>

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>用户管理
            </div>
        	<ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url 'back:article/user_list/' %}" target="rightFrame">用户列表</a>
                        <i></i>
                    </div>
                  <!--   <ul class="sub-menus">
                      <li><a href="javascript:;">文件管理</a></li>
                      <li><a href="javascript:;">模型信息配置</a></li>
                      <li><a href="javascript:;">基本内容</a></li>
                      <li><a href="javascript:;">自定义</a></li>
                  </ul> -->
                </li>
            </ul>    
        </dd>

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>文章管理
            </div>
            <ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url 'back:article/list/' %}" target="rightFrame">文章列表</a>
                        <i></i>
                    </div>
                </li>
                
                <li>
                    <div class="header">
                    <cite></cite>
                    <a href="{% url 'back:article/add/' %}" target="rightFrame">添加文章</a>
                    <i></i>
                    </div>                
                </li>

            </ul>    
        </dd>       

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>评论管理
            </div>
            <ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url 'back:article/comment_list/' %}" target="rightFrame">评论列表</a>
                        <i></i>
                    </div>
                </li>
            </ul>    
        </dd> 

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>留言管理
            </div>
            <ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url 'back:article/word_list/' %}" target="rightFrame">留言列表</a>
                        <i></i>
                    </div>
                </li>
                
{#                <li>#}
{#                    <div class="header">#}
{#                    <cite></cite>#}
{#                    <a href="{% url 'back:article/add/' %}" target="rightFrame">添加会员</a>#}
{#                    <i></i>#}
{#                    </div>                #}
{#                </li>#}

            </ul>    
        </dd> 

        <dd>
            <div class="title">
                <span><img src="/static/back/images/leftico01.png" /></span>点击管理
            </div>
            <ul class="menuson">       
                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="{% url 'back:statistics/click/' %}" target="rightFrame">点击排行</a>
                        <i></i>
                    </div>
                </li>
            </ul>    
        </dd>         
    </dl>
    
</body>
</html>

