
{% for k,v in menu.items %}
<dd>
{#    菜单标题#}
    <div class="title">
    <span><img src="/static/back/images/leftico01.png"  alt=""></span>{{ v.menu_name }}
    </div>
    <ul class="menuson">
        {% for v2 in v.children %}
        <li {% if current_path == v2.menu_path %} class="active" {% endif %}>
            <div class="header">
                <cite></cite>
                <a href="{{ v2.menu_path }}" target="rightFrame" >{{ v2.menu_name }}</a>
                <i></i>
            </div>
        </li>
            {% endfor %}
    </ul>
</dd>
{% endfor %}