<script type="text/javascript" src="/static/back/js/jquery.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
{% load my_tags %}
<h3>修改二级(菜单)权限</h3>
<form action="">
    {% csrf_token %}
    名称:<input type="text" name="permission_name" value="{{ permission_obj.permission_name }}">&nbsp;&nbsp;
    对应(菜单)权限:
    <select name="menu_id" id="">
        <option value="">请选择</option>
        {% for row in menu_obj %}
        <option value="{{ row.id }}" {% if row.id == permission_obj.menu_id %}selected="selected" {% endif %}>{{ row.menu_name }}</option>
        {% endfor %}
    </select>&nbsp;&nbsp;
    规则:<input type="text" name="permission_rule" value="{{ permission_obj.permission_rule }}">
    <input type="button" name="dosubmit" id="dosubmit" value="保存">
</form>
<script>
    $('#dosubmit').click(function () {
       $.post('{% url "back:permission_edit_second" mid=mid sid=sid %}',$('form').serialize(),function(data){
            if(data.status==1){
                layer.msg(data.info,function () {
                   location.href = '{% url "back:permission_list" %}?mid={{ mid }}'
                });
            }else {
                layer.msg(data.info)
            }
       },'json') ;
    });
</script>