{#循环遍历主要内容 开始#}
{% load my_tags %}
{% for v in articles_list %}
<tr>
    <td><input name="chedel[]" type="checkbox" value="{{ v.article_id }}" class="chedel"/></td>
    <td>{{ forloop.counter }}</td>   {# 编号 #}
    <td>{{ v.article_title }}</td>
    <td>{{ v.article_addtime|date:'Y-m-d H:i:s' }}</td>
    <td>{{ v.article_clicknum }}</td>
    <td>{{ v.article_praise_num}}</td>
    <td>{% if v.article_is_recommend == 1 %}推荐{% else %}不推荐{% endif %}</td>
    <td>{{ v.membered.member_nickname }}</td>
    <td data-id="{{ v.article_id }}"><a href="{% url "back:article/list_check/" v.article_id %}" class="tablelink">查看</a>
        {% if request|is_have_permission:'is_delete_article' %}
        <a href="javascript:;" class="tablelink del"> 删除</a>
        {% endif %}
        <a href="{% url 'back:article/list_update/' v.article_id %}" class="tablelink"> 修改</a></td>
</tr>
{% endfor %}
{#</form>#}
{#循环遍历主要内容 结束#}

{#分页器 开始#}
<tr><td colspan="9">  <div class="pagin">
<div class="message">
    {% if request|is_have_permission:'is_delete_allarticle' %}
    <a href="javascript:;" id="alldel">批量删除</a>
    {% endif %}
    &nbsp;&nbsp;共<i class="blue">&nbsp;{{ Sum.article_id__count }}&nbsp;</i>条记录，当前显示第&nbsp;
    {% for num0 in pageRange %}
    <i class="blue">{% if num0 == currentPage %}{{ num0 }}{% endif %}</i>
    {% endfor %}
    页</div>


<ul class="paginList">

     {% if articles_list.has_previous %}
                    <li class="paginItem"><a
                            href="/back/article/list_part/?page={{ articles_list.previous_page_number }}">
                        <span class="pagepre"></span></a></li>
                {% endif %}


    {% for num in pageRange %}
                    <li class="paginItem {% if num == currentPage %}current{% endif %}"><a
                            href="/back/article/list_part/?page={{ num }}">{{ num }}</a></li>
                {% endfor %}


    {% if articles_list.has_next %}
                    <li class="paginItem"><a
                            href="/back/article/list_part/?page={{ articles_list.next_page_number }}"><span
                            class="pagenxt"></span></a></li>
                {% endif %}
</ul>

{#分页器 结束#}
</div></td></tr>
